* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  inline-size: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 100vw;
  block-size: 100svh;
  padding: 16px;
  max-inline-size: 460px;
  margin-inline: auto;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 8px;

  button.active {
    background: black;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .bulk-actions {
    display: flex;
    align-items: center;
    gap: 16px;

    select {
      font-size: 20px;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;

      option {
        background: black;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      border-radius: 12px;

      &:hover {
        background-color: black;
      }
    }

    li:has(input:checked) {
      outline: 2px solid #646cff;
    }

    input {
      display: none;
      content-visibility: hidden;
    }

    label {
      display: flex;
      justify-content: space-between;
      inline-size: 100%;
      padding: 8px;

      a {
        font-size: 20px;
      }
    }

    .todo-header {
      display: flex;
      align-items: center;
      gap: 8px;

      select {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;

        option {
          background: black;
        }
      }
    }
  }
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    inline-size: fit-content;
  }

  .todo-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    padding: 1.2em;
    border-radius: 8px;

    input, textarea, select {
      border: none;
      border-radius: 4px;
      min-block-size: 24px;
      padding: 8px;
      background: #3b3b3b;
      cursor: pointer;
    }

    textarea {
      min-block-size: 120px;
    }
  }

  .todo-actions {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      flex: 1;
    }
  }
}

.create {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .create-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    padding: 1.2em;
    border-radius: 8px;
  }

  input, textarea, select {
    border: none;
    border-radius: 4px;
    min-block-size: 24px;
    padding: 8px;
    background: #3b3b3b;
    cursor: pointer;
  }
}




.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .modal-footer {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      flex: 1;
    }
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
}