.form {
    display: flex;
    flex-direction: column;
    gap: 16px;


    .form__fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 16px;
    }
}