@layer base {
    main {
        min-block-size: 100dvh;
        min-inline-size: 100%;
    }

    h1, .h1 {
        font: 700 clamp(2.5rem, 6vw, 3.5rem) 'Inter', sans-serif;
    }
    h2, .h2 {
        font: 700 clamp(2rem, 5vw, 3rem) 'Inter', sans-serif;
    }
    h3, .h3 {
        font: 600 clamp(1.5rem, 4vw, 2rem) 'Inter', sans-serif;
    }
    h4, .h4 {
        font: 600 clamp(1.125rem, 3vw, 1.5rem) 'Inter', sans-serif;
    }
    h5, .h5 {
        font: 600 1.5rem 'Inter', sans-serif;
    }
    h6, .h6 {
        font: 600 1.375rem 'Inter', sans-serif;
    }
    p, .p {
        font: 500 1rem 'Inter', sans-serif;
    }
    span, .span {
        font: 500 1rem 'Inter', sans-serif;
    }
    label,.label {
        font: 500 1rem 'Inter', sans-serif;
    }
}