@layer component {
    .button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        gap: 0.5rem;
        inline-size: fit-content;
        cursor: pointer;
        transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);

        &.green {
            color: var(--white);
            background-color: var(--green-color-200);
            transition-property: background-color;
            padding: .5rem 1.5rem;
            border-radius: 1.5rem;
            min-block-size: 2.5rem;

            &:not([disabled]):active {
                background-color: var(--green-color-300);
            }

            @media (hover: hover) {
                &:not([disabled]):hover {
                    background-color: var(--green-color-100);
                }
            }

            &[disabled] {
                cursor: not-allowed;
                background-color: var(--base-color-500);
                color: var(--contrast-color-500);
            }
        }

        &.inline {
            color: var(--green-color-200);
            background-color: transparent;
            transition-property: color;

            &:not([disabled]):active {
                color: var(--green-color-300);
            }

            @media (hover: hover) {
                &:not([disabled]):hover {
                    color: var(--green-color-100);
                }
            }

            &[disabled] {
                cursor: not-allowed;
                color: var(--base-color-500);
            }
        }

        @media (width < 680px) {
            max-inline-size: 100%;
            inline-size: 100%;
        }
    }
}